
.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/misc.xml

.idea/vcs.xml

.idea/modules.xml

.idea/workspace.xml

*.class

out/production/SerialKillers/Views/dashboard.fxml

out/production/SerialKillers/Views/Stylesheets/app.css

out/production/SerialKillers/Views/home.fxml

out/production/SerialKillers/Views/Stylesheets/home.css

out/production/SerialKillers/Views/Stylesheets/table.css

out/production/SerialKillers/Views/Stylesheets/dashboard.css

out/production/SerialKillers/Views/table.fxml

resources/config/config.properties

*.iml

.idea/uiDesigner.xml

.idea/libraries/junit_4_12.xml
